{% extends "layout.html" %}

{% block title %}
Gradle Info
{% endblock %}

{% block main %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script src="static/script.js"></script>


<body class="bg-image2">
</body>
<table id="table-artifacts" class="table table-striped">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Group Name</th>
            <th>Build Number</th>
            <th>Build Date</th>
            <th>Artifacts</th>
        </tr>
    </thead>
    <tbody>
        {% for row in input %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}