{% extends "layout.html" %}

{% block title %}
    Gradle Info
{% endblock %}

{% block main %}
    <form action="/artifact" method="post">
      <div class="form-group">
        <label>Project Name</label>
        <input type="search" class="form-control" name="pname" aria-describedby="emailHelp" placeholder="Project Name">
      </div>
      <div class="form-group">
        <label>Group Name</label>
        <input type="search" class="form-control" name="gname" aria-describedby="emailHelp" placeholder="Group Name">
      </div>
      <div class="form-group">
        <label>Build Number</label>
        <input type="search" class="form-control" name="bnum" aria-describedby="emailHelp" placeholder="Build Number">
      </div>
      <div class="form-group">
        <label>Build Date</label>
        <input type="search" class="form-control" name="bdate" aria-describedby="emailHelp" placeholder="Build Date">
      </div>
      <div class="form-group">
        <label>Artifacts Produced</label>
        <input type="search" class="form-control" name="artifacts" aria-describedby="emailHelp" placeholder="Artifacts Produced">
      </div>
    <button type="submit" class="btn btn-primary mb-5">Submit</button>
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Group Name</th>
                <th>Build Number</th>
                <th>Build Date</th>
                <th>Artifacts</th>
            </tr>
        </thead>
        <tbody>
            {% for row in input %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}