{% extends "layout.html" %}

{% block title %}
    Github Latest Real Changes
{% endblock %}

{% block main %}

<div class="spacer"></div>


<style>
    .spacer {
        margin-top: 375px; /* Adjust the value as needed */
    }

    .bg-image {
        background-image: url("https://coolbackgrounds.io/images/backgrounds/index/aqua-d9b59c89.png");
        background-size: cover;
        background-position: center;
    }
</style>

<body class="bg-image">
    <form action="/commit" method="get">
        <div class="col-md-auto">
            <div class="p-1">
                <h1 class="d-flex justify-content-center">
                    <button class="btn btn-primary rounded-pill btn-lg px-30" name="commit" value="" type="submit">Show Latest Commits</button>
                </h1>
            </div>
        </div>
    </form>
    <form action="/artifact" method="get">
        <div class="col-md-auto">
            <div class="p-1">
                <h1 class="d-flex justify-content-center">
                    <button class="btn btn-warning rounded-pill btn-lg px-30" name="artifact" value="" type="submit">Add & Display Gradle Changes</button>
                </h1>
            </div>
        </div>
    </form>
</body>


{% endblock %}
