{% extends "layout.html" %}

{% block title %}
Menu
{% endblock %}

{% block main %}

<div class="spacer"></div>

<body class="bg-image">
    <div class="text-center">
        <h1>Repo Tracker</h1>
    </div>
    <form action="/commit" method="get">
        <div class="col-md-auto">
            <div class="p-1">
                <h1 class="d-flex justify-content-center">
                    <button class="btn btn-primary rounded-pill btn-lg px-30" name="commit" value="" type="submit">Show
                        Latest Commits</button>
                </h1>
            </div>
        </div>
    </form>
    <form action="/artifact" method="get">
        <div class="col-md-auto">
            <div class="p-1">
                <h1 class="d-flex justify-content-center">
                    <button class="btn btn-warning rounded-pill btn-lg px-30" name="artifact" value="" type="submit">Add
                        & Display Gradle Changes</button>
                </h1>
            </div>
        </div>
    </form>
</body>


{% endblock %}