{% extends "layout.html" %}

{% block title %}
    Github Latest Real Changes
{% endblock %}

{% block main %}

<form action="/commit" method="get">
    <div class="col-md-auto">
        <div class="p-1">
            <h1 class="d-flex justify-content-center">
                <button class="btn-lg" name="commit" value="" type="submit">Show Latest Commits</button>
            </h1>
        </div>
    </div>
</form>
<form action="/artifact" method="get">
    <div class="col-md-auto">
        <div class="p-1">
            <h1 class="d-flex justify-content-center">
                <button class="btn-lg" name="artifact" value="" type="submit">Add & Display Gradle Changes</button>
            </h1>
        </div>
    </div>
</form>

{% endblock %}